@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.div {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    background-size: cover;
    height: 105vh;
    width: 60vw;
    text-align: center;
    font-family: "Roboto";
}

.div2 {
    background-color: #ffedcd;
    height: 160vh;
    width: 60vw;
    text-align: center;
}

.start {
    color: #fad693;
    background-color: #132d84;
}

.h_main {
    color: #132d84;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    margin: 10px;
}

.info {
    text-align: left;
    padding-left: 10px;
}

.h_type2 {
    color: #132d84;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.h_type {
    color: #253263;
    font-size: 20px;
    padding-top: 5px;
}

.p_main {
    color: #323f4b;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.p_type {
    color: #253263;
    font-size: 14px;
}

.image1 {
    height: 50vh;
    margin-top: 50px;
}

.image2 {
    height: 50vh;
    padding-top: 20px;
}

.im_yoga {
    height: 20vh;
}

.yoga_type {
    background-color: #ffe2ab;
    border-radius: 15px;
    margin: 10px;
}
