@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.div {
    height: 115vh;
    width: 50vw;
    color: white;
    padding: 10px;
    font-family: "Roboto";
    margin-top: 5px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
}

.car {
    padding-bottom: 5px;
}

.h1 {
    font-size: 25px;
    font-weight: bold;
}

.h2 {
    font-size: 20px;
}

.p1 {
    font-size: 12px;
}

.watch {
    color: #ff8348;
    background-color: white;
    text-align: right;
}
