@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.div {
    height: 100vh;
    width: 50vw;
    font-family: "Roboto";
    background-color: #875fc0;
}

.h2 {
    font-size: 24px;
}

.score {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-right: 5px;
    text-align: right;
}

.one,
.second {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.b {
    background-color: #875fc0;
    color: white;
}

.a,
.b {
    padding: 7px;
    padding-left: 20px;
    margin: 6px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: left;
}

.ol {
    list-style-type: none;
}

.bt {
    color: white;
    background-color: #fbaf00;
    margin-left: 120px;
    margin-right: 120px;
}
